@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --text-gradient: linear-gradient(210deg, #93835C 0%, #E7DBC9 100%);
}


@font-face {
  font-family: MADE TOMMY;
  src: url(/font/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}


@font-face {
  font-family: HORUS;
  src: url(/font/HORUS\ NEW.OTF);
}


body{
  color: white;
  background-image: url(/images/main-bg.png);
  background-size: 100% 100%;
  height: 100vh;
}



p{
  font-family: MADE TOMMY;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
  background: linear-gradient(101deg, rgba(231, 219, 201, 1.00) 0%, rgba(231, 219, 201, 0.00) 210%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h2{
  font-family: MADE TOMMY;
font-size: 25px;
  background: linear-gradient(102deg, #FEF2E0 0%,#fef2e0db 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solidred;
}
h3{
  color: #E7DBC9;
font-family: HORUS;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.525px;
background: linear-gradient(90deg, #E7DBC9 0%, rgba(231, 219, 201, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h4{
  font-family: HORUS;
font-size: 20px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.3px;
background: linear-gradient(90deg, #E7DBC9 0%, rgba(231, 219, 201, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h5{
  font-family: MADE TOMMY;
}

.scarab-btn{
  border-radius: 18px;
border: 1px solid rgba(255, 255, 255, 0.50);
background: rgba(7, 7, 4, 0.50);
backdrop-filter: blur(20px);
}

.era-btn{
  background-image: url('/images/update-btn.png');
  background-size: 100% 100%;
}
.update-btn{
  background-image: url('/images/era-btn.png');
  background-size: 100% 100%;
}
.stake-border{
  border-radius: 15px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(7, 7, 4, 0.50);
backdrop-filter: blur(15px);
}
.nav-text{
  background: linear-gradient(90deg, #E7DBC9 0%, rgba(231, 219, 201, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image-border{
  border-radius: 18px;
border: 1px solid rgba(255, 255, 255, 0.50);
background: rgba(7, 7, 4, 0.50);
backdrop-filter: blur(15px);
}
.btn-border{
  border-radius: 6px;
border: 1px solid #E7DBC9;
background: rgba(0, 0, 0, 0.50);
backdrop-filter: blur(20px);
}
/* .landing-bg{
  background-image: url('/images/Landing Page.png');
  background-size: 100% 100%;
  height: 100vh;
} */

.landing-menu-bg{
  background-image: url('/images/Landing Menu.png');
  background-size: 100% 100%;
  height: 100vh;
}

.formpage-bg{
    background-image: url('/images/form-bg.png');
    background-size: 100% 100%;
    height: 100vh;
}

.features-bg{
  background-image: url('/images/Features.png');
  background-size: 100% 100%;
  height: 100vh;
}

.scarabandbraracs-bg{
  background-image: url('/images/Scarab and Baracs.png');
  background-size: 100% 100%;
  height: 100vh;
}

.scarab-bg{
  background-image: url('/images/SCARAB_BG.png');
  background-size: 100% 100%;
  height: 100vh;
}

.baracs-bg{
  background-image: url('/images/BARACS.png');
  background-size: 100% 100%;
  height: 100vh;
}

.pharax-bg{
  background-image: url('/images/Become Pharok.png');
  background-size: 100% 100%;
  /* height: 100vh; */
}

.coming-god1-bg{
  background-image: url('/images/coming-god1.png');
  background-size: 100% 100%;
  height: 100vh;
}

.coming-god2-bg{
  background-image: url('/images/coming-god2.png');
  background-size: 100% 100%;
  height: 100vh;
}